.cart-container {
  margin-top: 10px;
  width: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  align-items: center;
}

.cart-container h2 {
  margin-bottom: 10px;
}

.cart-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details h3 {
  margin-top: 0;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cart-item-quantity button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
}

.cart-item-quantity button:hover {
  background-color: #0056b3;
}

.cart-total {
  margin-top: 20px;
  font-weight: bold;
}

.cart-actions {
  margin-top: 20px;
}

.cart-actions button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px; 
}

.cart-actions button:last-child {
  margin-right: 0; 
}

.cart-actions button:hover {
  background-color: #0056b3;
}

@media only screen and (max-width: 768px) {
  .cart-items {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .cart-item img {
    width: 80px;
    height: 80px;
  }
}
