.food-card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.food-card:hover {
  transform: translateY(-5px);
}

.food-card img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.food-card h3 {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #333;
}

.food-card p {
  margin: 10px 0;
  color: #666;
}

.food-card button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.food-card button:hover {
  background-color: #0056b3;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.rating span {
  margin-right: 5px;
  color: #333;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  color:  #ffa500;
  font-size: 1.2rem;
}

.half-star {
  position: relative;
  display: inline-block;
  width: 16px;
  overflow: hidden;
  color:  #ffa500;
}

.half-star:before {
  content: '\u2605';
  position: absolute;
  overflow: hidden;
  width: 50%;
}

.empty-star {
  color: #ddd;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .food-card {
    width: 250px;
    padding: 15px;
  }
  
  .food-card img {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 576px) {
  .food-card {
    width: 200px;
    padding: 10px;
  }
  
  .food-card img {
    width: 200px;
    height: 200px;
  }
}
